.item {
}

.item:last-of-type {
}

.users {
    margin-left: 20px;
    margin-top: 20px;
    width: 300px;
    line-height: 30px;
}

.buttonsContainer {
    margin-top: 20px;
    margin-left: 200px;
}

.container {
}

.thead {
}

.nameCol {
    font-weight: 700;
}

.ageCol {
    font-weight: 700;
}

.nameColItem {
    opacity: 0.7;
}

.ageColItem {
    font-weight: 500;
}